html, body {
  background-color: rgb(237, 237, 237);
  font-family: "Lato", sans-serif;
  height: 99%;
  width: 99%;
}

#master {
  position: relative;
  height: 100%;
  width: 100%;
}

#main {
  border: 3px solid rgb(196, 196, 196);
  position: absolute;
  overflow: hidden;
  border-radius: 12px;
  height: 100%;
  width: 100%;
  transition: .5s;
}

#main h2 {
  margin-top: 0;
  margin-right: 0;
  position: absolute;
}

#main img {
  margin-top: 0;
  margin-right: 0;
  position: absolute;
}

#main p {
  margin-top: 0;
  margin-right: 0;
  position: absolute;
}
