.topnav {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: -100px;
    right: 0;
    background-color: rgb(222, 222, 222);
    border-bottom: 6px solid rgb(191, 191, 191);
    border-radius: 100px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 95px;
}

.topnav a {
    padding-left: 5%;
    text-decoration: none;
    font-size: 30px;
    top: 8px;
    position: relative;
    color: #bd1f1f;
    display: inline;
    transition: 0.5s;
}
#openTopNav{
  font-size:20px;
  cursor:pointer;
  z-index: 1;
  padding: 8px 8px 8px 8px;
  position: fixed;
  background-color: rgb(191, 191, 191);
  border-radius: 30px;
  top: -56px;
  padding-top: 100px;
  left: 75px;
  transition: 0.5s;
}

.topnav a:hover {
    color: #ff0000;
}

.topnav a:active {
    color: #b5ff00;
}

.topnav a::selection {
    color: #bd1f1f;
}
/*
#main {
    transition: margin-top .5s;
}

@media screen and (max-width: 600px) {
  .topnav a {padding: 0 0 0 3%; }
}
*/
@media screen and (max-width: 400px) {
  .topnav a {padding: 0 0 0 2%; }
  .topnav {border-radius: 0;}
  #openTopNav {left: 5px;}
}
